.Buttons {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 2rem;
  border: 1px solid #232124;
  background-color: #232124;
  color: hsl(0, 22%, 91%);
  border-radius: 12px;
  margin-right: 1rem;
}
