  
  .back-form {
    background-color: #a3b2b0;
    padding: 5rem;
    margin: 10rem auto;
    width: 20rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }

  .space {
    width: 25px;
    height: auto;
    display: inline-block;
  }

  .button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #232124;
    background-color: #232124;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
  }